body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.calculator {
    width: 300px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

input#display {
    width: 90%;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}

.keys button {
    width: 68px;
    height: 50px;
    margin: 2px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #e0e1e6;
}

.keys .operator {
    background-color: #003bdd;
    color: #fff;
}

button:hover {
    opacity: 0.8;
}
